<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="https://uit-econ.github.io/">Hovedside bachelor</a>
  <a href="https://uit-sok-2008-h22.github.io/emneside-template/index.html" target="blank">Hjem</a>
  <a href="forelesningsplan.html">Forelesningsplan</a>
  <a href="forelesningsplan.html">Forelesningsplan</a>
  <a href="tema1.html"> - Tema 1</a>
  <a href="Tema2.html"> - Tema 2</a>
  <a href="tema3.html"> - Tema 3</a>
  <a href="tema4.html"> - Tema 4</a>
  <a href="tema5.html"> - Tema 5</a>
  <a href="tema6.html"> - Tema 6</a>
  <a href="tema7.html"> - Tema 7</a>
  <a href="innlevering2.html">Innlevering 2</a>
  <a href="case_1_bnp.html"> - Case 1</a>
  <a href="case_2_bnp_historisk.html"> - Case 2</a>
  <a href="case_3_bnp_co2_temp.html"> - Case 3</a>
  <a href="case_4_global_handel.html"> - Case 4</a>
  <a href="case_5_kpi.html"> - Case 5</a>
  <a href="#">Ressurser:</a>
  <a href="ressurser_F1.html"> - Forelesning 1</a>
</div>
